=form_tag(search_path, class: 'form-inline', id: 'search_form', method: :get) do

  .form-group
    .col-sm-6
      =text_field_tag :client_ip, params[:client_ip], class: 'form-control', placeholder: 'Client IP'
    .col-sm-6
      =text_field_tag :client_port, params[:client_port], class: 'form-control', placeholder: 'Port'
  %br
  .form-group
    .col-sm-6
      =text_field_tag :destination_ip, params[:destination_ip], class: 'form-control', placeholder: 'Destination IP'
    .col-sm-6
      =text_field_tag :destination_port, params[:destination_port], class: 'form-control', placeholder: 'Port'
  %br
  .form-group
    .col-sm-6
      =text_field_tag :dmn, params[:dmn], class: 'form-control', placeholder: 'Domain'
    .col-sm-6
      =text_field_tag :url, params[:url], class: 'form-control', placeholder: 'URI'
  = link_to 'Regular expressions manual', examples_path, id: 'examples', target: '_blank'

  %br
  .form-group
    .col-sm-6
      =text_field_tag :bytes_received_from, params[:bytes_received_from], class: 'form-control', placeholder: 'Bytes received from'
    .col-sm-6
      =text_field_tag :bytes_received_to, params[:bytes_received_to], class: 'form-control', placeholder: 'Bytes received to'

  %br
  .form-group
    .col-sm-6
      =text_field_tag :bytes_sent_from, params[:bytes_sent_from], class: 'form-control', placeholder: 'Bytes sent from'
    .col-sm-6
      =text_field_tag :bytes_sent_to, params[:bytes_sent_to], class: 'form-control', placeholder: 'Bytes sent to'

  %br
  .form-group
    .col-sm-6
      =datetime_field_tag :session_start, params[:session_start], class: 'form-control', placeholder: 'Session start', id: 'session_start'
    .col-sm-6
      =datetime_field_tag :session_end, params[:session_end], class: 'form-control', placeholder: 'Session end', id: 'session_end'

  = link_to 'Hide form', '#', id: 'hide'
  %hr
  =submit_tag 'Search', class: 'btn btn-default'

= link_to 'Show search form', '#', id: 'show', hidden: true

%br
=render 'list'